@page "/randomImage2"
@using System.Runtime.InteropServices
@rendermode InteractiveServer
@using System.Drawing
@using System
@using System.Drawing.Imaging
@using System.IO

<PageTitle>Counter</PageTitle>

<h1>Random Image Generator</h1>
<img src="data:image/png;base64,@imageBase64" />
<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>
@code {
    private Bitmap image = new Bitmap(500, 500);
    private Random random = new Random();
    private string imageBase64;
    private Rectangle rect = new Rectangle(0,0,500,500);
    private void IncrementCount()
    {
        BitmapData data = image.LockBits(rect, ImageLockMode.WriteOnly, PixelFormat.Format32bppArgb);
        IntPtr ptr = data.Scan0;
        int bytes = Math.Abs(data.Stride) * image.Height;
        byte[] rgbValues = new byte[bytes];
        for(int i=0; i<bytes; i+=4)
        {
            rgbValues[i] = (byte)random.Next(0, 255);
            rgbValues[i+1] = (byte)random.Next(0, 255);
            rgbValues[i+2] = (byte)random.Next(0, 255);
            rgbValues[i+3] = 255;
        }
        Marshal.Copy(rgbValues, 0, ptr, bytes);
        image.UnlockBits(data);
        using (var ms = new MemoryStream())
        {
            image.Save(ms, System.Drawing.Imaging.ImageFormat.Png);
            imageBase64 = Convert.ToBase64String(ms.ToArray());
        }
    }
}