@page "/randomImage3"
@using System.Runtime.InteropServices
@rendermode InteractiveServer
@using System.Drawing
@using System
@using System.IO
@using System.Threading.Tasks

<PageTitle>Counter</PageTitle>

<h1>Random Image Generator</h1>
<img src="data:image/png;base64,@imageBase64" />
<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>
@code {
    private Bitmap image = new Bitmap(500, 500);
    private Random random = new Random();
    private string imageBase64;
    private void IncrementCount()
    {
        Parallel.For(0,500,x=>{
            Random threadRandom = new Random(random.Next());
            for(int y=0;y<500;y++)
            {
                Color color = Color.FromArgb(threadRandom.Next(0, 255), threadRandom.Next(0, 255), threadRandom.Next(0, 255));
                lock (image)
                {
                    image.SetPixel(x, y, color);
                }
            }
        });
        using (var ms = new MemoryStream())
        {
            image.Save(ms, System.Drawing.Imaging.ImageFormat.Png);
            imageBase64 = Convert.ToBase64String(ms.ToArray());
        }
    }
}